{% macro mode() %}
<button class="color-mode text-(gray-500 xl) inline-flex motion-safe:(transition) hover:(text-gray-700)" aria-label="Toggle color mode">
  <span class="block dark:(hidden)"><iconify-icon icon="mdi:weather-sunny" inline="false" class="iconify"></iconify-icon> <span class="sr-only">Switch to dark mode</span></span>
  <span class="hidden dark:(block)"><iconify-icon icon="mdi:weather-night" inline="false" class="iconify"></iconify-icon> <span class="sr-only">Switch to light mode</span></span>
</button>
{% endmacro %}

{% macro heading(tag='h1',title='',lead='') %}
<div class="mb-8 md:(flex items-center gap-10)">
  <div class="mx-auto mb-8 py-6 w-full max-w-xl text-lg flex-(& col) gap-6 relative md:(mb-0 mx-0) lg:(max-w-[50%])">
    <{{ tag }} class="w-full text-{%if tag == 'h1' %}2xl{% else %}xl{% endif %} text-wrap-balance leading-tight font-black relative lg:(text-{%if tag == 'h1' %}5xl{% else %}3xl{% endif %} tracking-tight)">
      {{ title }}
    </{{ tag }}>
    {%- if lead %}  
    <p class="text-gray-500 text-wrap-balance relative">{{ lead | safe }}</p>
    {%- endif %}
    <i class="mt-2 h-1 flex gap-3 opacity-50 -rotate-1" aria-hidden="true">
      <b class="w-4 bg-accent-500 rounded-sm"></b>
      <b class="w-8 bg-brand-500 rounded-sm"></b>
      <b class="bg-gray-500/40 flex-1 rounded-sm"></b>
    </i>
  </div>
  {{ caller() }}
</div>
{% endmacro %}

{% macro list() %}
<ul class="mt-12 mx-auto w-full max-w-7xl grid-(& cols-1) gap-16 lg:(grid-cols-3)">
  {{ caller() }}
</ul>
{% endmacro %}

{% macro list_item(title='',desc='',ico='',color='gray',logo='',url='') %}
<li class="group flex-(& col) relative">
  {%- if ico %}
    <i class="mb-6 w-12 h-12 text-({{ color }}-500 2xl) ring-(2 gray-500/40) flex items-center justify-center rounded-xl motion-safe:(transition group-hover:(animate-blob)) group-hover:(ring-0 bg-{{ color }}-500 text-{{ color }}-50)">
      <iconify-icon icon="{{ ico }}" inline class="iconify"></iconify-icon>
    </i>
  {%- endif %}
  {%- if logo %}
    <div class="mb-6 w-32">
      <a href="{{ url }}">
        {{ logo | safe }}
        <span class="absolute inset-0"></span>
      </a>
    </div>
  {%- else %}
  <b class="text-lg">{{ title }}</b>
  {%- endif %}
  {% if desc %}  
    <p class="mt-5 text-gray-500">{{ desc }}</p>
  {% endif %}
</li>
{% endmacro %}