---
layout: layouts/page.njk
title: Merch
eleventyNavigation:
  title: Buy
  order: 3
eleventyComputed:
  lead: "{{ merch_page.lead }}"
  eleventyNavigation:
    key: "{{ title }}"
---

{%- import 'components/partials.njk' as el -%}

{%- call el.heading(title=title,lead=lead) %}{%- endcall %}

<p>Working on it...</p>