---
layout: layouts/page.njk
title: Events
eleventyNavigation:
  title: Coming
  order: 1
eleventyComputed:
  lead: "{{ events_page.lead }}"
  eleventyNavigation:
    key: "{{ title }}"
---

{%- import 'components/partials.njk' as el -%}
{%- call el.heading(title=title,lead=lead) %}{%- endcall %}

{%- set thisMonth = _utils.date.month | int -%}
{%- set thisYear = _utils.date.year | int -%}

{# now #}
{%- set eventsNow = [] -%}
{%- for e in collections.event -%}
  {%- set thatMonth = e.page.date.toLocaleDateString('en-US', {month: '2-digit', timeZone: 'UTC'}) | int -%}
  {%- set thatYear = e.page.date.toLocaleDateString('en-US', {year: 'numeric', timeZone: 'UTC'}) | int -%}
  {%- if thisMonth === thatMonth and thisYear === thatYear -%}
    {%- set eventsNow = (eventsNow.push(e), eventsNow) -%}
  {%- endif -%}
{%- endfor -%}

{# next #}
{%- set eventsNext = [] -%}
{%- for e in collections.event -%}
  {%- set thatMonth = e.page.date.toLocaleDateString('en-US', {month: '2-digit', timeZone: 'UTC'}) | int -%}
  {%- set thatYear = e.page.date.toLocaleDateString('en-US', {year: 'numeric', timeZone: 'UTC'}) | int -%}
  {%- if (thisMonth < thatMonth and thisYear <= thatYear) or thisYear < thatYear -%}
    {%- set eventsNext = (eventsNext.push(e), eventsNext) -%}
  {%- endif -%}
{%- endfor -%}

{# past #}
{%- set eventsPast = [] -%}
{%- for e in collections.event -%}
  {%- set thatMonth = e.page.date.toLocaleDateString('en-US', {month: '2-digit', timeZone: 'UTC'}) | int -%}
  {%- set thatYear = e.page.date.toLocaleDateString('en-US', {year: 'numeric', timeZone: 'UTC'}) | int -%}
  {%- if (thisMonth > thatMonth and thisYear >= thatYear) or thisYear > thatYear -%}
    {%- set eventsPast = (eventsPast.push(e), eventsPast) -%}
  {%- endif -%}
{%- endfor -%}

{%- macro sessions(item=[]) %}
  <li class="[&:last-child_.timeline-line]:(hidden) flex gap-5">
    <div class="timeline-item flex-(& col) items-center gap-1">
      <span class="timeline-ico">
        <iconify-icon icon="mdi:calendar" inline class="iconify text-(3xl brand-500/50)"></iconify-icon>
      </span>
      <b class="timeline-line w-1 bg-current flex-auto opacity-10"></b>
    </div>
    <div class="pt-1 pb-12 space-y-2">
      <p class="text-sm leading-none font-light opacity-70">
        {{ item.page.date.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}
      </p>
      <p class="leading-none">
        {{ item.data.presenter if 'NEED NAME' !== item.data.presenter else '???' }}
      </p>
      <h2 class="text-xl leading-none font-bold{{ ' text-red-500 motion-safe:(animate-pulse)' if item.data.session === 'NEED SESSION NAME' }}">
        {{ item.data.session if 'NEED SESSION NAME' !== item.data.session else '???' }}
      </h2>
      <div class="prose prose-sm pt-3 line-clamp-3 opacity-70 prose-strong:(text-current font-black)">
        {{ item.content | safe if 'NEED NAME' !== item.data.presenter else '???' }}
      </div>
    </div>
  </li>
{%- endmacro %}

{%- macro heading() %}
  <h2 class="text-(gray-500 lg) tracking-tight font-bold uppercase">{{ caller() }}</h2>
{%- endmacro %}

{# 
<h3 class="mx-auto border-(t white/20) py-12 max-w-2xl bg-gradient-to-t from-transparent via-transparent to-white text-center grid-(& cols-1) gap-5 rounded-lg shadow-2xl motion-safe:(animate-pulse) dark:(to-gray-500/10)">
  <iconify-icon icon="mdi:emoticon-sick" inline class="iconify mx-auto text-8xl opacity-20"></iconify-icon>
  <strong>We're working on it...</strong>
</h3>
#}

<div class="pt-10 divide-(y gray-500/20) grid-(& cols-1) gap-10 lg:(divide-y-0 grid-cols-2 gap-32)">
  <div>
    <h2 class="border-(b slate-900/10) p-3 bg-black/20 flex justify-center gap-x-3 rounded-lg">
      <b class="py-1 px-3 uppercase">This month</b>
    </h2>

    {# now #}
    {%- if eventsNow.length %}
      <ul class="pt-10 space-y-2">
      {%- for item in eventsNow %}
      {{ sessions(item=item) }}
      {%- endfor %}
      </ul>
    {%- else %}
      <h2 class="mt-12 py-12 bg-gray-500/10 text-center grid-(& cols-1) gap-5 ring-(& inset gray-500/20) rounded-lg">
        <iconify-icon icon="mdi:emoticon-dead" inline class="iconify mx-auto text-8xl opacity-20"></iconify-icon>
        <strong>Nothing this month</strong>
      </h2>
    {%- endif %}

  </div>
  <div class="pt-10 lg:(pt-0)" x-data="{ tab: 0, categories: ['Coming up', 'Archived'] }">
    <nav class="flex justify-center relative z-20">
      <ul class="[&_[aria-expanded=true]]:(border-white/50 bg-white/50 shadow dark:(bg-white/10 border-white/10)) border-(b slate-900/10) p-3 w-full bg-black/20 flex justify-center gap-x-3 rounded-lg" role="tablist">
        <template x-for="(item, index) in categories">
          <li role="presentation">
            <button
              @click.prevent="tab = index" :id="'tab-'+ index"
              class="border-(t transparent) px-3 py-1 font-semibold uppercase rounded motion-safe:(transition)"
              x-text="item"
              role="tab"
              :aria-expanded="tab == index"
              :aria-controls="'tabpanel-'+ index">
            </button>
          </li>
        </template>
      </ul>
    </nav>
    <div class="relative z-10">
      <template x-for="(item, index) in categories">
        <div :id="'tbpanel-'+ index" x-show="tab === index" class="motion-safe:(transition ease-in-out duration-300)" role="tabpanel" :aria-labelledby="'tab-'+ index"
          x-transition:enter-start="opacity-0 scale-y-0 blur-lg"
          x-transition:enter-end="opacity-100 scale-y-100"
          x-transition:leave-start="opacity-100 scale-y-100"
          x-transition:leave-end="opacity-0 scale-y-0 blur-lg"
        >

          {# next #}
          <template x-if="index == 0">
            {%- if eventsNext.length %}
            <ul class="pt-10 space-y-2">
              {%- for item in eventsNext %}
              {{ sessions(item=item) }}
              {%- endfor %}
            </ul>
            {%- else %}
            <h3 class="mt-12 py-12 bg-gray-500/10 text-center grid-(& cols-1) gap-5 ring-(& inset gray-500/20) rounded-lg">
              <iconify-icon icon="mdi:calendar-alert" inline class="iconify mx-auto text-8xl opacity-20"></iconify-icon>
              <strong>Nothing scheduled</strong>
            </h3>
            {%- endif %}
          </template>

          {# past #}
          <template x-if="index == 1">
            <ul class="pt-10 space-y-2">
              {%- for item in eventsPast | reverse %}
              {{ sessions(item=item) }}
              {%- endfor %}
            </ul>
          </template>

        </div>
      </template>
    </div>
  </div>
</div>
