---
layout: layouts/page.njk
title: Events
eleventyNavigation:
  title: Coming
  order: 1
eleventyComputed:
  lead: "{{ events_page.lead }}"
  eleventyNavigation:
    key: "{{ title }}"
---

{%- import 'components/partials.njk' as el -%}

{%- call el.heading(title=title,lead=lead) %}{%- endcall %}

{%- set thisMonth = _utils.date.month | int -%}
{%- set thisYear = _utils.date.year | int -%}

{%- macro heading() %}
  <h2 class="text-(gray-500 lg) tracking-tight font-bold uppercase">{{ caller() }}</h2>
{%- endmacro %}

{%- macro sessions(item=[]) %}
  {#%- if item.data.presenter !== 'NEED NAME' %#}
  <li class="py-8">
    <h3 class="text-xl leading-none flex-(& col)">
      <small class="text-sm leading-none font-light opacity-70">{{ item.page.date.toLocaleDateString('en-US', {month: '2-digit', day: '2-digit', year: 'numeric', timeZone: 'UTC'}) }}</small>
      <strong class="py-3{% if item.data.session == 'NEED SESSION NAME' %} text-red-500 motion-safe:(animate-pulse){% endif %}">{{ item.data.session }}</strong>
    </h3>
    <p class="pb-6 leading-none flex items-center gap-2"><iconify-icon icon="mdi:account-voice" inline class="iconify text-lg opacity-50"></iconify-icon> {{ item.data.presenter }}</p>
    <div class="prose prose-sm opacity-70 prose-strong:(text-current font-black)">{{ item.content | safe }}</div>
  </li>
  {#%- endif %#}
{%- endmacro %}

<div class="pt-10 divide-(y gray-500/20) grid-(& cols-1) gap-10 lg:(divide-y-0 grid-cols-2)">
  <div>
    <h3 class="border-(b brand-900/10) py-4 px-6 bg-brand-300/20 font-semibold uppercase rounded-lg">
      {# px-3 py-1 font-semibold uppercase rounded #}
      This month
    </h3>
    <div>
      <ul class="divide-(y gray-500/20)">
        {% for item in collections.event %}
        {%- set thatMonth = item.page.date.toLocaleDateString('en-US', {month: '2-digit', timeZone: 'UTC'}) | int -%}
        {%- set thatYear = item.page.date.toLocaleDateString('en-US', {year: 'numeric', timeZone: 'UTC'}) | int -%}
        {% if thisMonth === thatMonth and thisYear === thatYear %}    
        {{ sessions(item=item) }}
        {% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
  <div class="pt-10 lg:(pt-0)" x-data="{ tab: 0, categories: ['Coming up', 'Archived'] }">
    <nav class="flex justify-center relative z-20">
      <ul class="border-(b slate-900/10) p-3 bg-black/20 flex gap-x-3 rounded-lg">
        <template x-for="(item, index) in categories">
          <li><button @click.prevent="tab = index" :id="'tab-'+ index" x-text="item" class="px-3 py-1 font-semibold uppercase rounded motion-safe:(transition)" :class="{'bg-white/50 dark:bg-white/10': tab == index}" role="tab" :aria-selected="tab == index" :aria-controls="'tabpanel-'+ index"></button></li>
        </template>
      </ul>
    </nav>
    <div class="relative z-10">
      <template x-for="(item, index) in categories">
        <div :id="'tbpanel-'+ index" x-show="tab === index" class="motion-safe:(transition ease-in-out)" role="tabpanel" :aria-labelledby="'tab-'+ index"
          x-transition:enter="absolute top-0 inset-x-0"
          x-transition:enter-start="opacity-0 scale-110 blur-lg"
          x-transition:enter-end="opacity-100 scale-100"
          x-transition:leave-start="opacity-100 scale-100"
          x-transition:leave-end="opacity-0 scale-110 blur-lg"
        >
          {# coming up #}
          <template x-if="index == 0">
            <ul class="divide-(y gray-500/20)">
              {% for item in collections.event %}
              {%- set thatMonth = item.page.date.toLocaleDateString('en-US', {month: '2-digit', timeZone: 'UTC'}) | int -%}
              {%- set thatYear = item.page.date.toLocaleDateString('en-US', {year: 'numeric', timeZone: 'UTC'}) | int -%}
              {% if (thisMonth < thatMonth and thisYear <= thatYear) or thisYear < thatYear %}
              {{ sessions(item=item) }}
              {% endif %}
              {% endfor %}
            </ul>
          </template>
          {# archived #}
          <template x-if="index == 1">
            <ul class="divide-(y gray-500/20)">
              {% for item in collections.event | reverse %}
              {%- set thatMonth = item.page.date.toLocaleDateString('en-US', {month: '2-digit', timeZone: 'UTC'}) | int -%}
              {%- set thatYear = item.page.date.toLocaleDateString('en-US', {year: 'numeric', timeZone: 'UTC'}) | int -%}
              {% if (thisMonth > thatMonth and thisYear >= thatYear) or thisYear > thatYear %}
              {{ sessions(item=item) }}
              {% endif %}
              {% endfor %}
            </ul>
          </template>
        </div>
      </template>
    </div>
  </div>
</div>


